.summaryItem {
    width:75%;
    display: block;
    position: relative;
    padding: 16px 0 16px 60px;
    margin: 0 1px;
    font-size: 17px;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #919191;
    border-radius: 0;
}
.box {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    float: left;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}
.box:hover p {
    color: #202020;
}
.box:hover {
    z-index:5;
    box-shadow: 0 0px 10px #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    -moz-box-shadow: 0 0px 10px #000;
    -o-box-shadow: 0 0px 10px #000;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    margin: auto;
}
.box img {
    float: left;
    width: 100px;
    height: 100px;
}

.stylenox {
    float: left;
    width: 100px;
    height: 100px;
    background: #000;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8;
    -ms-transition: all 0.8s;
}
.node {
  opacity: 0.5;
}

.node:hover {
  opacity: 1;
}

.link {
  stroke: #999;
  stroke-opacity: 0.3;
}